@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* viewport height */
    box-sizing: border-box; /*Boa prática inserir isso no body, para garantir que nenhum elemento vai estourar o conteúdo */
    background-color: #000;
    color: #f6f6f6;
}

.destaque-titulo {
    color: #22d4fd;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}