* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* viewport height */
    box-sizing: border-box; /*Boa prática inserir isso no body, para garantir que nenhum elemento vai estourar o conteúdo */
    background-color: #000;
    color: #f6f6f6;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
.destaque-titulo {
    color: #22d4fd;
}

.apresentacao {
    display: flex;
    align-items: center;
}